<div class="nav-item px-3">
    <NavLink class="nav-link" href="categories">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Categories
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="questions">
        <span class="oi oi-question-mark" aria-hidden="true"></span> Questions
    </NavLink>
</div>

@code {

}
